/* header */
.top-left {
	float: left !important;
	padding: 0px;
	margin: 0px;
	margin-left: 20px;
	padding: 0px;
}

.top {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.top .toplogo {
	width: 15%;
	cursor: pointer;
}

.top-right {
	float: right !important;
	margin-right: 10px;
	font-size: 14px;
}

.top-right ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.top-right ul li {
	float: left;
	padding-left: 20px;
}

.top-right ul li a {
	text-decoration: none;
}

.top-right ul li a:link {
	color: #333;
}

.top-right ul li a:visited {
	color: #333;
}

.top-right ul li a:hover {
	color: #333;
}

.suc {
	display: none;
}

.bef {
	display: block;
}

/* .footer-bar {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #5b5b5b;
	* #333;
	min-height: 58px;
	line-height: 58px;
	padding: 0px;
}

.footer-logo {
	width: 30px;
	border-radius: 5px;
}

.fcontents {
	text-align: center;
	padding: 0px;
}

.footer-logo, .footer-txt {
	margin: 0px auto;
	vertical-align: middle;
} */

/*FOOTER*/
footer {
    background-color: #272727;
    border-top: 1px solid #333;
}
footer .inner {
    padding: 5px 0 5px 0;
}
footer .menu {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0px;
}
footer .menu li {
    position: relative;
    
}
footer .menu li::before {
    content: "";
    width: 3px;
    height: 3px;
    background-color: #555;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -1px;
    margin: auto;
}
footer .menu li:last-child::before {
    display: none;
}
footer .menu li a {
    display: block;
    color: #CCC;
    font-size: 12px;
    font-weight: 700;
    padding: 5px 15px;
}

footer .btn-group {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
footer .btn-group .btn {
    font-size: 12px;
    margin-right: 10px;
}
footer .btn-group .btn:last-child {
    margin-right: 0;
}
footer .info {
    text-align: center;
}
footer .info span {
    margin-right: 20px;
    color: #999;
    font-size: 12px;
}
footer .info span:last-child {
    margin-right: 0;
}
footer .copyright {
    color: #999;
    font-size: 12px;
    text-align: center;
}